body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #18191f;
  padding: 0 40px;
}

img {
  max-width: 100%;
}
p {
  font-size: 18 px;
}
h1 {
  font-size: 58px;
  color: #575757;
}
h2 {
  font-size: 40px;
}

.flex-width {
  display: flex;
}

.half-width {
  width: 50%;
  margin-left: 20px;
  padding: 0 10px;
}

#top-area-image {
  width: 85%;
  display: block;
  margin: auto;
}
#about-area-image {
  width: 65%;
  display: block;
  margin: auto;
}
.orange-color {
  color: #fba24f;
}
.grey-color {
  color: #727272;
}

.link-button {
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  padding: 20px 30px;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
}
.one-third-width {
  width: 33.33%;
  padding: 0 10px;
}
.menu-item {
  box-shadow: 0 0 15px 10px black;
}
.menu-item img {
  width: 100%;
}
#top-area {
  padding-top: 50px;
  margin-bottom: 120px;
}

#footer-area {
  padding: 0 20px;
  background-color: black;
  color: white;
}
